.leaflet-control-attribution, .leaflet-control-zoom {
	display: none;
}
.leaflet-marker-pane > * {
	transition: transform 0.3s linear;
}
path {
	transition: d 0.3s linear;
}
map-container {
	display: block;
	width: 100%;
	height: calc(100vh - 50px);
}