.leaflet-control-attribution, .leaflet-control-zoom {
	display: none;
}
.leaflet-marker-pane > * {
	transition: transform 0.3s ease;
	transform: translateZ(0);
}
.leaflet-popup-content-wrapper {
	word-break: break-word;
}
path {
	transition: d 0.3s ease, stroke 0.3s ease, fill 0.3s ease;
	transform: translateZ(0);
}
map-container {
	display: block;
	width: 100%;
	height: calc(100vh - 50px);
}