@import "material.scss";
@import "leaflet.scss";
:root {
	--fouc-time: 0.4s;
}
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Roboto"
}
html, body {
	width: 100%;
	height: 100%;
}
label {
	margin-right: 1em;
}
input-row {
	display: block;
	margin: 1em auto;
}
body {
	transition: opacity var(--fouc-time);
}
body[invisible] {
	opacity: 0;
	transition: opacity var(--fouc-time);
}